@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TTTravels-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url('../assets/fonts/TTTravels-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../assets/fonts/TTTravels-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'TT Travels', sans-serif;
}