.hero {
  text-align: center;
  padding: 50px 20px;
  background-image: url('../../assets/Неон\ город\ вверх\ 1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
}

.logo {
  width: 250px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.title {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstRow,
.secondRow {
  display: flex;
  align-items: center;
  gap: 15px;
}

.firstRow {
  font-size: 7rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.secondRow {
  font-size: 7rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gradientText {
  background: linear-gradient(to right, #00FF00, #00CED1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.spaceship {
  width: 200px;
  height: auto;
  position: relative;
  z-index: 1;
}

.taglineContainer {
  gap: 60px;
  position: relative;
  z-index: 1;
}

.tagline {
  font-size: 1.2rem;
  color: #87fbff;
  margin: 0;
  text-align: left;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}

.watchButton {
  background: linear-gradient(to right, #00FF00, #00CED1);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  z-index: 1;
  width: auto;
  flex-shrink: 0;

  &:hover {
    background: #00b377;
  }
}

@media (max-width: 768px) {
  .heroContent {
    flex-direction: column;
    gap: 20px;
  }

  .firstRow,
  .secondRow {
    font-size: 2.5rem;
  }

  .spaceship {
    width: 80px;
  }

  .watchButton {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .tagline {
    font-size: 1rem;
    max-width: 300px;
  }

  .taglineContainer {
    flex-direction: column;
    gap: 10px;
  }
}